@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');


.d_small{
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* 
.noto-serif-<uniquifier> {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f8ff;
    border: 1px solid red;
}

html{
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    height: 100vh;
}


.navigation{
    width: 1140px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    width: 135px;
    height: 80px;
}


.logo img{
    width: 100%;
    height: 100%;
}

nav{
    width: 500px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


nav ul li{
    list-style: none;
}


nav ul li a{
    text-decoration: none;
    color: grey;
    font-family: "Noto Serif", serif;
    font-size: 16px;
    padding: 15px 25px;
    text-transform: capitalize;
}

nav ul li a.active{
    color: #252432;
    font-weight: 600;
}

.cart{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.cart .icon>i{
    color: #252432;
    font-size: 19px;
}


.cart p{
    font-family: "Noto Serif", serif;
    font-size: 16px;
    text-transform: capitalize;
    color: #252432;
    padding: 8px;
}


.banner{
    width: 1140px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.banner_title{
    width: 50%
}


.banner_img{
    width: 50%;
}


.banner_title .title_head{
    width: 80%;
    height: 90px;
}


.banner_title .title_head h1{
    font-family: "Noto Serif", serif;
    text-transform: uppercase;
    font-size: 50px;
    text-wrap: wrap;
}


.banner_title .title_head h1 span{
    color: #e95a08;
}

.banner_title .title_head p{
    font-family: "Noto Serif", serif;
    font-size: 17px;
    color: grey;
}


.main{
    width: 100%;
    height: 100vh;
}


.shop{
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
}



.shop_title{
    width: 700px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}


.shop_title h1{
    font-family: "Noto Serif", serif;
    font-size: 46px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 15px;
}


.shop_title h1 span{
    color: #e95a08;
}


.shop_title p{
    font-family: "Noto Serif", serif;
    font-size: 16px;
    color: grey;
    font-weight: 500;
    padding: 8px;
}


.shop_grid_card{
    max-width: 100%;
    height: 750px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 05px;
}


.card{
    width: 280px;
    height: 380px;
    margin: auto;
    transition: all 0.5s linear;
}


.cardimg{
    width: 100%;
    height: 270px;
}

.cardimg img{
    width: 100%;
    height: 100%;
}


.card_title{
    width: 100%;
    height: 50px;
    text-align: center;
}


.card_title p{
    text-transform: uppercase;
    padding: 8px;
    font-weight: 600;
    font-size: 18px;
}

.card_title p span{
    font-weight: 600;
}


.cardbtn{
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 15px;
}

.cardbtn button{
    width: 100%;
    height: 100%;
    background: #e95a08;
    color: #f5f8ff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}


.card:hover{
    transform: scale(1.0);
    box-shadow: 0 0 8px 10px;
}



.flower_lover{
    width: 100%;
    height: 650px;
}


.f_main{
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

.brawl{
    width: 100%;
    height: 500px;
    margin-top: 80px;
    display: flex;
}


.f_left{
    width: 50%;
    height: 100%;
}

.img_container{
    position: relative;
}

.main_img{
    width: 450px;
    height: 500px;
    display: block;
}

.badge{
    width: 200px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    bottom: 400px;
    right: 45px;
    border-radius: 50%;
}

.f_right{
    width: 50%;
    height: 100%;
}

.right_title{
    width: 350px;
    margin-bottom: 15px;
}

.right_title h3{
    font-family: "Noto Serif", serif;
    font-size: 36px;
    text-transform: capitalize;
    text-wrap: wrap;
}


.right_para{
    width: 100%;
    height: auto;
}

.right_para ul li{
    font-size: 19px;
    color: grey;
    font-weight: 400;
    padding: 15px;
}

.right_para ul {
    width: 450px;
    height: auto;
    margin-left: 30px;
}