@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/*
.d_small{
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f5f8ff;
}

.header{
    width: 100%;
    height: 100vh;
}


.navigation{
    width: 1140px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    width: 135px;
    height: 80px;
}


.logo img{
    width: 100%;
    height: 100%;
}

nav{
    width: 500px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


nav ul li{
    list-style: none;
}


nav ul li a{
    text-decoration: none;
    color: grey;
    font-family: "Noto Serif", serif;
    font-size: 16px;
    padding: 15px 25px;
    text-transform: capitalize;
}

nav ul li a.active{
    color: #252432;
    font-weight: 600;
}

.cart{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.cart .icon>i{
    color: #252432;
    font-size: 19px;
}


.cart p{
    font-family: "Noto Serif", serif;
    font-size: 16px;
    text-transform: capitalize;
    color: #252432;
    padding: 8px;
}


.banner{
    width: 1140px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.banner_title{
    width: 50%
}


.banner_img{
    width: 50%;
}


.banner_title .title_head{
    width: 80%;
    height: 90px;
}


.banner_title .title_head h1{
    font-family: "Noto Serif", serif;
    text-transform: uppercase;
    font-size: 50px;
    text-wrap: wrap;
}


.banner_title .title_head h1 span{
    color: #e95a08;
}

.banner_title .title_head p{
    font-family: "Noto Serif", serif;
    font-size: 17px;
    color: grey;
}


.main{
    width: 100%;
    height: 100vh;
}


.shop{
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
}



.shop_title{
    width: 700px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}


.shop_title h1{
    font-family: "Noto Serif", serif;
    font-size: 46px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 15px;
}


.shop_title h1 span{
    color: #e95a08;
}


.shop_title p{
    font-family: "Noto Serif", serif;
    font-size: 16px;
    color: grey;
    font-weight: 500;
    padding: 8px;
}


.shop_grid_card{
    max-width: 100%;
    height: 750px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 05px;
}


.card{
    width: 280px;
    height: 380px;
    margin: auto;
    transition: all 0.5s linear;
}


.cardimg{
    width: 100%;
    height: 270px;
}

.cardimg img{
    width: 100%;
    height: 100%;
}


.card_title{
    width: 100%;
    height: 50px;
    text-align: center;
}


.card_title p{
    text-transform: uppercase;
    padding: 8px;
    font-weight: 600;
    font-size: 18px;
}

.card_title p span{
    font-weight: 600;
}


.cardbtn{
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 15px;
}

.cardbtn button{
    width: 100%;
    height: 100%;
    background: #e95a08;
    color: #f5f8ff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    border: none;
    outline: none;
}


.card:hover{
    transform: scale(1.0);
    box-shadow: 0 0 8px 10px;
}



.flower_lover{
    width: 100%;
    height: 650px;
}


.f_main{
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

.brawl{
    width: 100%;
    height: 500px;
    margin-top: 80px;
    display: flex;
}


.f_left{
    width: 50%;
    height: 100%;
}

.img_container{
    position: relative;
}

.main_img{
    width: 450px;
    height: 500px;
    display: block;
}

.badge{
    width: 200px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    bottom: 400px;
    right: 45px;
    border-radius: 50%;
    animation: animate 0.4s infinite;
}

@keyframes animate{
    0%{
        rotate: -180deg;
    }

    100%{
        rotate: 18deg;
    }
}


.f_right{
    width: 50%;
    height: 100%;
}

.right_title{
    width: 350px;
    margin-bottom: 15px;
}

.right_title h3{
    font-family: "Noto Serif", serif;
    font-size: 36px;
    text-transform: capitalize;
    text-wrap: wrap;
}


.right_para{
    width: 100%;
    height: auto;
}

.right_para ul li{
    font-size: 19px;
    color: grey;
    font-weight: 400;
    padding: 15px;
}

.right_para ul {
    width: 450px;
    height: auto;
    margin-left: 30px;
}




.offer {
  width: 100%;
  height: auto;
  padding: 60px 0;
}

.offer-top {
  width: 100%;
  height: 135px;
}

.title {
  width: 650px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.title h1 {
  font-family: "Noto Serif", serif;
  font-size: 40px;
  text-transform: capitalize;
  word-spacing: 20px;
  padding: 15px;
}

.title h1 span {
  color: #e95a08;
}

.title p {
  font-size: 19px;
  color: grey;
  font-weight: 400;
}

.offer-grid{
    max-width: 1140px;
    height: 500px;
    margin: 0 auto;
}

.offer-main{
    max-width: 1140px;
    max-height: 100%;
    margin: 0 auto;
}


.offer-card{
    max-width: 95%;
    max-height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}


.master{
    width: 400px;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}


.grid-one{
    width: 350px;
    height: 200px;
    border-radius: 15px;
    background-image: url(assets/deal-bloom.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    position: relative;
}


.grid-one h3{
    font-family: "Noto Serif", serif;
    font-size: 18px;
    background-color: transparent;
    color: #ffffff;
    font-weight: 600;
    z-index: 1;
}

.grid-one p{
    font-family: "Noto Serif", serif;
    font-size: 16px;
    background-color: transparent;
    color: #ffffff;
    font-weight: 600;
    z-index: 1;
    text-transform: capitalize;
    text-decoration: underline;
}

.grid-one::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
}

.grid-two{
    width: 350px;
    height: 200px;
    border-radius: 15px;
    background-image: url(assets/deal-ana.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.grid-two h3{
    font-family: "Noto Serif", serif;
    font-size: 18px;
    background-color: transparent;
    color: #ffffff;
    font-weight: 600;
    z-index: 1;
}


.grid-two p{
    font-family: "Noto Serif", serif;
    font-size: 16px;
    background-color: transparent;
    color: #ffffff;
    font-weight: 600;
    z-index: 1;
    text-transform: capitalize;
    text-decoration: underline;
}


.grid-two::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
}


.child{
    width: 670px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background-image: url(assets/deal-zabo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}



.child::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
}

.child h3{
    font-family: "Noto Serif", serif;
    font-size: 40px;
    color: #ffffff;
    text-transform: capitalize;
    z-index: 1;
}


.child p{
    font-family: "Noto Serif", serif;
    font-size: 26px;
    text-transform: capitalize;
    color: #ffffff;
    z-index: 1;
    text-decoration: underline;
}


.newsletter{
    width: 100%;
    height: 500px;
    background-image: url(assets/news-letter-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.main-join{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


.join-title, .input{
    width: 750px;
}


.join-title{
    text-align: center;
}

.join-title h3{
    font-family: "Noto Serif", serif;
    font-size: 46px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 600;
}

.input{
    display: flex;
}

.input input{
    width: 75%;
    height: 45px;
    padding: 15px;
    flex: 1;
}


.input button {
    flex: none;
    width: 120px;
    height: 45px;
    background-color: #e95a08;
    color: #ffffff;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    border: none;
    outline: none;
}

.footer{
    width: 100%;
    height: 300px;
    padding: 25px;
}


.footer-body{
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    position: relative;
    
}

.fair-well{
    display: flex;
    align-items: center;
    justify-content: center;
}




.f-logo p{
    font-family: "Inter Tight", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: grey;
    padding: 10px 0;
}


.menus{
    width: 100%;
    height: 100%;
}

.menus ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    list-style: none;
}


.menus ul li{
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: grey;
    text-transform: capitalize;
    margin-bottom: 12px;
}


.s-main{
    width: 100%;
    height: 70px;
}

.s-grid{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.s-1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.s-1 img{
    width: 100%;
    height: 100%;
} */




@media (max-width: 430px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    .header{
        width: 100%;
        height: 500px;
    }

    .navigation{
        width: 100%;
        height: 60px;
        border: 1px solid red;
    }

    nav{
        visibility: hidden;
    }


    .logo{
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo img{
        width: 65px;
        height: 35px;
    }

    .kart{
        width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 55px;
    }

    .kart .icon{
        font-family: "Noto Serif", sans-serif;
        font-size: 1.0rem;
        padding: 15px;
    }


    .kart p{
        text-transform: capitalize;
        font-family: "Noto Serif", sans-serif;
        font-size: 0.9rem;
    }

    .banner{
        width: 100%;
        height: 450px;
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }


    .banner_title{
        width: 100%;
        height: 225px;
    }

    .titile_head{
        width: 100%;
        height: 60px;
    }

    .title_head h1{
        text-transform: uppercase;
        text-wrap: wrap;
        width: 60%;
        padding: 20px 0;
    }

    .title_head h1 span{
        color: #e95a08;
    }

    .titile_head p{
        color: grey;
        font-family: "Inter Tight", sans-serif;
        font-size: 0.8rem;
    }

    .banner_img{
        width: 100%;
        height: 225px;
    }

    .banner_img img{
        width: 100%;
        height: 100%;
    }


    .main{
        width: 100%;
        /* height: 550px; */
    }


    .shop{
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
    }



    .shop_title{
        width: 100%;
        height: 65px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 15px;
    }


    .shop_title h1{
        font-family: "Noto Serif", serif;
        font-size: 2.0rem;
        text-transform: capitalize;
        font-weight: 600;
        padding: 8px;
    }


    .shop_title h1 span{
        color: #e95a08;
    }


    .shop_title p{
        font-family: "Noto Serif", serif;
        font-size: 0.8rem;
        color: grey;
        font-weight: 500;
        padding: 8px;
        width: 65%;
        margin: 0 auto;
    }

    .shop_grid_card{
        width: 100%;
        /* height: 750px; */
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 10px;
        padding: 40px 30px;
    }

    .card{
        width: 172px;
        height: 390px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .cardimg{
        width: 100%;
        height: 230px;
    }

    .cardimg img{
        width: 100%;
        height: 100%;
    }

    .card_title{
        width: 100%;
        height: 70px;
        text-align: center;
    }

    .card_title h3{
        font-family: "Inter Tight", sans-serif;
        font-size: 16px;
        text-transform: capitalize;
        font-weight: 500;
        padding: 10px;
    }

    .card_title p{
        font-family: "Inter Tight", sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 4px;
    }


    .cardbtn{
        width: 100%;
        height: 40px;
    }

    .cardbtn button{
        width: 100%;
        height: 100%;
        background-color: #e95a08;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        border: none;
        outline: none;
        font-weight: 600;
        font-family: "Inter Tight", sans-serif;
        cursor: pointer;
    }

    .flower_lover{
        width: 100%;
        /* height: 550px; */
    }

    .badge{
        display: none;
    }

    html{
        scroll-behavior: smooth;
    }

    .f_main{
        width: 100%;
        /* height: 100%; */
    }


    .brawl{
        width: 90%;
        margin: 0 auto;
    }

    .f_right{
        width: 100%;
        height: 100%;
    }

    .right_title{
        width: 350px;
        margin-bottom: 15px;
        margin-left: 10px;
    }

    .right_title h3{
        font-family: "Noto Serif", serif;
        font-size: 1.6rem;
        text-transform: capitalize;
        text-wrap: wrap;
        padding: 15px 0;
    }


    .right_para{
        width: 100%;
        height: auto;
    }

    .right_para ul li{
        font-size: 1.1rem;
        color: grey;
        font-weight: 400;
        padding: 10px;
    }

    .right_para ul {
        width: 450px;
        height: auto;
        margin-left: 30px;
    }


    .offer{
        width: 100%;
    }

    .offer-main{
        width: 90%;
        margin: 0 auto;
    }

    .offer-top{
        width: 380px;
        height: 120px;
    }

    .title{
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .title h1{
        font-family: "Noto Seif", serif;
        text-transform: capitalize;
        font-size: 1.8rem;
        padding: 10px;
    }

    .title h1 span{
        color: #e95a08;
    }

    .title p{
        font-family: "Inter Tight", sans-serif;
        font-size: 13px;
        color: grey;
        font-weight: 400;
        text-transform: capitalize;
        padding: 13px;
        margin-bottom: 10px;
    }


    .offer-grid{
        width: 400px;
    }


    .master{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;
        padding: 15px;
    }

    .grid-one{
        width: 100%;
        height: 200px;
        background-image: url(assets/deal-bloom.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        position: relative;
    }

    .grid-two{
        width: 100%;
        height: 200px;
        background-image: url(assets/deal-ana.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        position: relative;
    }
    
    .grid-one::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        border-radius: 15px;
    }

    .grid-two::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        border-radius: 15px;
    }

    .child{
        width: 100%;
        height: 200px;
        background-image: url(assets/deal-zabo.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        position: relative;
    }


    .master h3{
        font-family: "Notot Serif", sans-serif;
        font-size: 25px;
        color: #fff;
        text-transform: capitalize;
        font-weight: 600;
        z-index: 1;
    }

    .master p{
        font-family: "Inter Tight", sans-serif;
        font-size: 18px;
        color:#fff;
        text-transform: capitalize;
        text-decoration: underline;
        font-weight: 500;
        z-index: 1;
    }

    .child h3{
        font-family: "Notot Serif", sans-serif;
        font-size: 25px;
        color: #fff;
        text-transform: capitalize;
        font-weight: 600;
        z-index: 1;
    }

    .child p{
        font-family: "Inter Tight", sans-serif;
        font-size: 18px;
        color:#fff;
        text-transform: capitalize;
        text-decoration: underline;
        font-weight: 500;
        z-index: 1;
    }


    .child::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        border-radius: 15px;
    }

    .newsletter{
        width: 100%;
        height: 300px;
        background-image: url(assets/news-letter-bg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


    .join-title{
        width: 400px;
        text-align: center;
    }

    .join-title h3 {
        font-size: 1.5rem;
        padding: 10px;
        text-transform: capitalize;
        color: #fff;
    }

    .input {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 100%;
    }

    .input input {
        flex-grow: 1;
        height: 45px;
        font-size: 1rem;
        padding: 10px 15px;
        width: 200px;
        max-width: 100%;
        box-sizing: border-box;
    }

    .input button {
        height: 45px;
        font-size: 0.95rem;
        padding: 0 15px;
        white-space: nowrap;
        flex-shrink: 0;
        background-color:#e95a08;
        color: #fff;
        text-transform: capitalize;
        font-weight: 600;
        border: none;
        outline: none;
    }

    .footer{
        width: 100%;
        height: 900px;
    }

    .footer-body{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        padding: 15px;
    }

    .f-logo{
        width: 100%;
        height: 160px;
        padding: 15px 0;
    }

    .f-logo p{
        font-family: "Inter Tight", sans-serif;
        font-size: 1.0rem;
        text-transform: capitalize;
        color: grey;
        font-weight: 500;
        padding: 10px 0;
    }


    .important-links{
        height: 500px;
    }

    .menus{
        height: 300px;
    }


    .menus ul {
        display: block;
    }

    .menus ul li{
        list-style: none;
        text-transform: capitalize;
        font-family: "Inter Tight", sans-serif;
        padding: 13px 0;
        font-weight: 400;
        color: grey
    }


    .social-links{
        width: 100%;
        height: 60px;
    }

    .s-main{
        width: 100%;
        height: 100%;
    }

    .s-grid{
        display: grid;
        grid-template-columns: 50px 50px 50px 50px;
    }

    .s-1{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}